//---------------------------------------------//
// Helper classes - Outline.
// Docs - http://outlinecss.co.uk/get-started.html#helpers.
//---------------------------------------------//

.clearfix,
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Alignment.
.align-left,
%align-left {
  text-align: left;
}

.align-center,
%align-center {
  text-align: center;
}

.align-right,
%align-right {
  text-align: right;
}

.justify,
%justify {
  text-align: justify;
}

// Floats.
.float-left,
%float-left {
  float: left;
}

.float-center,
%float-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.float-right,
%float-right {
  float: right;
}

// Spacing.
.no-space,
%no-space {
  margin: 0;
  padding: 0;
}

.space,
%space {
  margin: $spacing;
}

.space-top,
%space-top {
  margin-top: $spacing;
}

.space-right,
%space-right {
  margin-right: $spacing;
}

.space-btm,
%space-btm {
  margin-bottom: $spacing;
}

.space-left,
%space-left {
  margin-left: $spacing;
}

// Background colours.
.bg-primary,
%bg-primary {
  background-color: $color-primary;
}

.bg-primary-lighten,
%bg-primary-lighten {
  background-color: $color-primary-lighten;
}

.bg-secondary,
%bg-secondary {
  background-color: $color-secondary;
}

.bg-tertiary,
%bg-tertiary {
  background-color: $color-tertiary;
}

.bg-grey,
%bg-grey {
  background-color: $color-grey;
}

.bg-grey-light,
%bg-grey-light {
  background-color: $color-grey-light;
}

.bg-grey-dark,
%bg-grey-dark {
  background-color: $color-grey-dark;
}

.bg-white,
%bg-white {
  background-color: #fff;
}

.bg-body,
%bg-body {
  background-color: $body-bg;
}

// Text colours.
.text-primary,
%text-primary {
  color: $color-primary;
}

.text-secondary,
%text-secondary {
  color: $color-secondary;
}

.text-tertiary,
%text-tertiary {
  color: $color-tertiary;
}

.text-grey,
%text-grey {
  color: $color-grey;
}

.text-grey-light,
%text-grey-light {
  color: $color-grey-light;
}

.text-white,
%text-white {
  color: #fff;
}

// Center image.
.img-center,
%img-center {
  display: block;
  margin: 0 auto $spacing auto;
}

// Make text uppercase.
.is-uppercase,
%is-uppercase {
  text-transform: uppercase;
}

// Hide from browsers & screenreaders.
.hide,
%hide {
  display: none;
  visibility: hidden;
}

// Hide visually, but available for screenreaders.
.visuallyhidden,
%visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

// Extends the .visuallyhidden class to allow the element to be focusable when
// navigated to via the keyboard.
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
}
