//---------------------------------------------//
// Mixins - Outline
// e.g. @include respond-min($tablet) {
//        background-color: $color-primary;
//      }
// Docs - http://outlinecss.co.uk/get-started.html#mixins
//---------------------------------------------//

// media queries / breakpoints
@mixin respond-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

// ghost buttons
@mixin ghost-btn($color) {
  color: $color;
  border: 0.125rem solid $color;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    background-color: $color;
  }
}

// gradients
@mixin gradient($angle, $colour1, $colour2) {
  background: $colour1;
  background: linear-gradient(#{$angle}deg, $colour1 0%, $colour2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$colour1', endColorstr='$colour2',GradientType=1 );
}

// icons
@mixin icon($icon) {
  @extend %icon;

  @extend %icon-#{$icon};
}

@mixin icon-before($icon, $padding: 0.5rem) {
  &:before {
    @extend %icon;

    @extend %icon-#{$icon};

    padding-right: $padding;
  }
}
