//---------------------------------------------//
//  Embed containers - Outline
//  Basic styles to make embedded content responsive
// Docs - http://outlinecss.co.uk/get-started.html#embed
//---------------------------------------------//

.embed-wrap {
  position: relative;
  margin: $spacing auto;
  padding: 1.875rem 0 56.25% 0;
  width: 100%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
