//---------------------------------------------//
// Forms - Outline
// Basic styles for form elements
// Docs - http://outlinecss.co.uk/get-started.html#forms
//---------------------------------------------//

form,
fieldset {
  margin-bottom: $spacing;
}

label {
  margin-bottom: .25rem;
  display: block;
  font-family: $font-secondary;
  font-weight: 500;
  cursor: pointer;
}

fieldset {
  margin-top: $spacing;
  margin-bottom: $spacing;
  padding: $spacing;
  border: 0.0625rem solid $color-grey;
}

legend {
  margin: 0;
  margin-left: -.5rem;
  padding: 0 .5rem;
  display: block;
  font-family: $font-secondary;
}

.form__row,
%form__row {
  margin-bottom: $spacing;

  @extend %clearfix;

  &:last-child {
    margin-bottom: 0;
  }
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  padding: .375rem;
  display: block;
  width: 100%;
  height: 2.375rem;
  font: inherit;
  line-height: 1.5;
  color: $color-grey-dark;
  border: 0.0625rem solid $color-grey-light;
  background-color: #ffffff;
}

// inputs 'inline-block' by default
input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  float: left;
  margin-bottom: 0;
  display: inline-block;
  width: auto;
  cursor: pointer;
  vertical-align: baseline;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: background 0.5s ease;
}

input[type=checkbox],
input[type=checkbox]:focus {
  -webkit-appearance: none;
  background: #fff;
  border: 2px solid $color-grey-dark;
  border-radius: 2px;
  width: 18px !important;
  height: 18px !important;
  margin-top: 1px;
}

input[type=checkbox]:checked {
  background: url(../images/icons/check.svg) scroll no-repeat 0 0 $color-primary;
  border-color: $color-primary;
}

textarea {
  height: 5.5rem;

  // roughly 3 lines in height
  overflow: auto;
  resize: vertical;
}

select {
  font-family: $font-secondary;
}

// extend '.btn'
input[type="submit"] {
  @extend %btn;

  width: auto;
  margin-bottom: 0;
}

input:focus,
select:focus,
textarea:focus {
  border-color: $color-primary;
  border-color: rgba($color-primary, 0.8);
  outline: 0;
  outline: thin dotted \9;

  // IE6-9
  transition: border .2s linear;
}

input[disabled],
textarea[disabled] {
  background: tint($color-grey-light, 50%);
  cursor: not-allowed;
  overflow: hidden;
  white-space: nowrap;
}

// inline form styles
.form--inline {
  input,
  textarea,
  select {
    display: inline-block;
    width: auto;
  }

  label {
    display: inline-block;
    margin: 0 1rem 0 0;
    width: 6.5rem;
    text-align: right;
  }

  .form__row--controls,
  %form__row--controls {
    @extend %form__row;

    margin-left: 7.5rem;

    label {
      width: auto;
    }
  }

  .form__row--actions {
    @extend %form__row--controls;

    margin-bottom: 0;
  }
}

// Placeholder text colour
::-webkit-input-placeholder {
  color: $placeholder-text;
}

::-moz-placeholder {
  color: $placeholder-text;
}

:-ms-input-placeholder {
  color: $placeholder-text;
}
