.page-header {
  padding-top: $spacing-layout;
  margin-bottom: $spacing-layout;
  background-color: $color-primary-lighten;
  color: #fff;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: #fff;
  }

  a {
    color: #d1e0e5;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
}
