//---------------------------------------------//
// Messages
// CSS for Drupal messages
//---------------------------------------------//

.message {
  margin-top: -$spacing-layout;
  margin-bottom: $spacing-layout;
  padding: $spacing-layout;
  padding-top: ($spacing-layout + 2px);
  background-color: $color-grey-light;
  border-bottom: 2px solid $color-grey;
}