//---------------------------------------------//
// Modals
// CSS for Drupal modals
//---------------------------------------------//


.ui-widget-overlay {
  z-index: 999;
}

.ui-dialog {
  z-index: 1000;
  padding: 0;
  font-size: $font-base;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  .ui-widget-header {
    padding: ($spacing-layout * 0.5) ($spacing-layout * 0.75);
    background: $color-secondary;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}