//---------------------------------------------//
// Pagination - Outline
// Basic styling for pagination
// Docs - http://outlinecss.co.uk/get-started.html#pagination
//---------------------------------------------//

.pager {
  margin-bottom: $spacing;
  font-family: $font-secondary;
  text-align: center;

  @extend %list--unstyled;

  li {
    margin: 0 .5rem .5rem 0;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: tint($color-grey-light, 20%);
    }

    a {
      display: inline-block;
      padding: .25rem .75rem;
    }

    &.pager--current {
      background-color: $color-primary;

      a {
        color: #fff;
      }
    }
  }
}
