//---------------------------------------------//
// Typography - Outline.
//
// Set headings, font, link , hr, sub & sup, abbreviation, highlighting, figure
// & blockquote styles.
// Docs - http://outlinecss.co.uk/get-started.html#typography.
//---------------------------------------------//

html {
  font-size: $html-font-base;
}

body {
  font-family: $font-primary;
  font-size: $font-base;
  line-height: 1.5;
  color: $color-text;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
%h1, %h2, %h3, %h4, %h5, %h6 {
  font-family: $font-primary;
  font-weight: 400;
  color: $color-grey-dark;
}

h1,
.h1,
%h1 {
  font-size: 1.875rem;
  margin-top: .9375rem;
  margin-bottom: .75rem;

  @include respond-min($tablet-wide) {
    font-size: 2.2rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }


  @include respond-min($desktop) {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-top: 1.625rem;
    margin-bottom: 1.375rem;
  }
}

h2,
.h2,
%h2 {
  font-size: 1.688rem;
  margin-top: .8125rem;
  margin-bottom: .6875rem;

  @include respond-min($tablet-wide) {
    font-size: 1.875rem;
    margin-top: .9375rem;
    margin-bottom: .75rem;
  }
}

h3,
.h3,
%h3 {
  font-size: 1.688rem;
  margin-top: .8125rem;
  margin-bottom: .6875rem;
  font-weight: 500;
}

h4,
.h4,
%h4 {
  font-size: 1.1rem;
  margin-top: .75rem;
  margin-bottom: .625rem;
  font-weight: 500;
}

h5,
.h5,
%h5 {
  font-size: 1rem;
  margin-top: .6875rem;
  margin-bottom: .5625rem;
  font-weight: 500;
}

h6,
.h6,
%h6 {
  font-size: 0.875rem;
  margin-top: .625rem;
  margin-bottom: .5rem;
  font-weight: 500;
}

p {
  margin-bottom: $spacing;
}

.font-primary,
%font-primary {
  font-family: $font-primary;
}

.font-secondary,
%font-secondary {
  font-family: $font-secondary;
}

.lead,
%lead {
  font-size: 1.125rem;
}

small,
.text-small,
%text-small {
  font-size: .75rem;
}

.text-muted {
  color: $color-grey;
}

strong {
  font-weight: bold;
}

em,
cite,
dfn,
var {
  font-style: italic;
}

// Link styles.
a {
  text-decoration: none;
  word-wrap: break-word;
  color: $color-primary;
}

a:hover {
  text-decoration: underline;
  color: shade($color-primary, 25%);
}

a img {
  border: none;
  background: none;
}

// Prevents border/background on linked image hover.
a:hover img {
  border: none;
  background: none;
  opacity: 0.9;
  filter: alpha(opacity = 90);
}

// Lines.
hr {
  margin: $spacing auto;
  border: 0;
  border-top: 0.0625rem solid $color-grey;
  border-bottom: 0 solid #fff;
}

// Subscript & superscript.
sub,
sup {
  position: relative;
  margin-left: .25rem;
  font-size: 85%;
  font-weight: bold;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5rem;
}

sub {
  bottom: -.25rem;
}

// Abbreviation or acronym.
abbr[title] {
  border-bottom: 0.0625rem dotted $color-grey-dark;
}

// Mark element (highlight).
mark {
  background-color: yellow;
  color: $color-grey-dark;
  padding: .25rem;
}

// Blockquote.
blockquote {
  margin-bottom: $spacing;
  padding-left: 1rem;
  padding-right: $spacing;
  border-left: 0.25rem solid $color-primary;
  font-family: $font-secondary;

  p:last-of-type {
    margin-bottom: .25rem;
  }

  cite {
    font-style: italic;

    @extend %text-small;
  }
}

// Figure and caption.
figure {
  margin-bottom: $spacing;
}

figcaption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: $font-secondary;
  font-size: .875rem;
  text-align: center;
  border-bottom: 0.0625rem solid $color-grey-light;
}

// Highlighting colors.
::selection {
  color: #fff;
  background: $color-primary;
}

// Summary
summary[role=button] {
  cursor: pointer;
  outline: 0;
}
