@charset "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome/fontawesome-webfont.eot?v=4.4.0");
  src: url("../../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../../fonts/fontawesome/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../../fonts/fontawesome/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../../fonts/fontawesome/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../../fonts/fontawesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.clearfix:after,
.form__row:after,
.form--inline .form__row--controls:after,
.form--inline .form__row--actions:after,
.media:after,
.views-exposed-form:after {
  content: "";
  display: table;
  clear: both;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.float-left {
  float: left;
}

.float-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}

.no-space {
  margin: 0;
  padding: 0;
}

.space {
  margin: 1.5rem;
}

.space-top {
  margin-top: 1.5rem;
}

.space-right {
  margin-right: 1.5rem;
}

.space-btm {
  margin-bottom: 1.5rem;
}

.space-left {
  margin-left: 1.5rem;
}

.bg-primary {
  background-color: #2da6d1;
}

.bg-primary-lighten {
  background-color: #41afd6;
}

.bg-secondary {
  background-color: #ffd500;
}

.bg-tertiary {
  background-color: #79ba7b;
}

.bg-grey {
  background-color: #a1acb5;
}

.bg-grey-light {
  background-color: #e0e4e7;
}

.bg-grey-dark {
  background-color: #3b3e46;
}

.bg-white {
  background-color: #fff;
}

.bg-body {
  background-color: #f6f7f8;
}

.text-primary {
  color: #2da6d1;
}

.text-secondary {
  color: #ffd500;
}

.text-tertiary {
  color: #79ba7b;
}

.text-grey {
  color: #a1acb5;
}

.text-grey-light {
  color: #e0e4e7;
}

.text-white {
  color: #fff;
}

.img-center {
  display: block;
  margin: 0 auto 1.5rem auto;
}

.is-uppercase {
  text-transform: uppercase;
}

.hide {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  @  page {
    margin: 0.5cm;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

body {
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

a {
  background-color: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe,
object,
embed {
  max-width: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: Roboto, Lato, serif;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #656870;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Roboto, Lato, serif;
  font-weight: 400;
  color: #3b3e46;
}

h1,
.h1 {
  font-size: 1.875rem;
  margin-top: .9375rem;
  margin-bottom: .75rem;
}

@media screen and (min-width: 768px) {
  h1,
  .h1 {
    font-size: 2.2rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  h1,
  .h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-top: 1.625rem;
    margin-bottom: 1.375rem;
  }
}

h2,
.h2 {
  font-size: 1.688rem;
  margin-top: .8125rem;
  margin-bottom: .6875rem;
}

@media screen and (min-width: 768px) {
  h2,
  .h2 {
    font-size: 1.875rem;
    margin-top: .9375rem;
    margin-bottom: .75rem;
  }
}

h3,
.h3 {
  font-size: 1.688rem;
  margin-top: .8125rem;
  margin-bottom: .6875rem;
  font-weight: 500;
}

h4,
.h4 {
  font-size: 1.1rem;
  margin-top: .75rem;
  margin-bottom: .625rem;
  font-weight: 500;
}

h5,
.h5 {
  font-size: 1rem;
  margin-top: .6875rem;
  margin-bottom: .5625rem;
  font-weight: 500;
}

h6,
.h6 {
  font-size: 0.875rem;
  margin-top: .625rem;
  margin-bottom: .5rem;
  font-weight: 500;
}

p {
  margin-bottom: 1.5rem;
}

.font-primary {
  font-family: Roboto, Lato, serif;
}

.font-secondary {
  font-family: Roboto, Lato, sans-serif;
}

.lead {
  font-size: 1.125rem;
}

small,
.text-small,
blockquote cite {
  font-size: .75rem;
}

.text-muted {
  color: #a1acb5;
}

strong {
  font-weight: bold;
}

em,
cite,
dfn,
var {
  font-style: italic;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  color: #2da6d1;
}

a:hover {
  text-decoration: underline;
  color: #227d9d;
}

a img {
  border: none;
  background: none;
}

a:hover img {
  border: none;
  background: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

hr {
  margin: 1.5rem auto;
  border: 0;
  border-top: 0.0625rem solid #a1acb5;
  border-bottom: 0 solid #fff;
}

sub,
sup {
  position: relative;
  margin-left: .25rem;
  font-size: 85%;
  font-weight: bold;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5rem;
}

sub {
  bottom: -.25rem;
}

abbr[title] {
  border-bottom: 0.0625rem dotted #3b3e46;
}

mark {
  background-color: yellow;
  color: #3b3e46;
  padding: .25rem;
}

blockquote {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  border-left: 0.25rem solid #2da6d1;
  font-family: Roboto, Lato, sans-serif;
}

blockquote p:last-of-type {
  margin-bottom: .25rem;
}

blockquote cite {
  font-style: italic;
}

figure {
  margin-bottom: 1.5rem;
}

figcaption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: Roboto, Lato, sans-serif;
  font-size: .875rem;
  text-align: center;
  border-bottom: 0.0625rem solid #e0e4e7;
}

::-moz-selection {
  color: #fff;
  background: #2da6d1;
}

::selection {
  color: #fff;
  background: #2da6d1;
}

summary[role=button] {
  cursor: pointer;
  outline: 0;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

html,
body {
  background-color: #f6f7f8;
}

.box, .table-wrap, #block-atlas-content .views-exposed-form,
#edit-node-bulk-form--2,
.comment-admin-overview #edit-options, #block-atlas-help,
#block-atlas-content .package-listing, #system-themes-page .system-themes-list,
#system-themes-admin-form,
#block-atlas-content .table-filter, #block-atlas-content .form-item-mail-notification-address,
#field-display-overview-wrapper, #system-file-system-settings #edit-file-public-path,
#system-file-system-settings #edit-file-public-base-url,
#system-file-system-settings #edit-file-private-path,
#system-file-system-settings .form-item-file-temporary-path,
#system-file-system-settings .form-item-temporary-maximum-age,
#edit-clear-cache,
#edit-caching,
#edit-bandwidth-optimization,
#edit-contact,
#edit-anonymous-settings,
#edit-admin-role,
#edit-registration-cancellation,
#edit-site-information,
#edit-front-page,
#edit-error-page,
#system-cron-settings,
#system-logging-settings,
#system-site-maintenance-mode, .node-form {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #e0e4e7;
  border-bottom-width: 2px;
}

.box--listgroup {
  margin-top: -22px;
}

.box--listgroup:first-child {
  margin-top: 0;
}

.box--small {
  padding: 10px;
}

.box > p:last-child, .table-wrap > p:last-child, #block-atlas-content .views-exposed-form > p:last-child,
#edit-node-bulk-form--2 > p:last-child,
.comment-admin-overview #edit-options > p:last-child, #block-atlas-help > p:last-child,
#block-atlas-content .package-listing > p:last-child, #system-themes-page .system-themes-list > p:last-child,
#system-themes-admin-form > p:last-child,
#block-atlas-content .table-filter > p:last-child, #block-atlas-content .form-item-mail-notification-address > p:last-child,
#field-display-overview-wrapper > p:last-child, #system-file-system-settings #edit-file-public-path > p:last-child,
#system-file-system-settings #edit-file-public-base-url > p:last-child,
#system-file-system-settings #edit-file-private-path > p:last-child,
#system-file-system-settings .form-item-file-temporary-path > p:last-child,
#system-file-system-settings .form-item-temporary-maximum-age > p:last-child,
#edit-clear-cache > p:last-child,
#edit-caching > p:last-child,
#edit-bandwidth-optimization > p:last-child,
#edit-contact > p:last-child,
#edit-anonymous-settings > p:last-child,
#edit-admin-role > p:last-child,
#edit-registration-cancellation > p:last-child,
#edit-site-information > p:last-child,
#edit-front-page > p:last-child,
#edit-error-page > p:last-child,
#system-cron-settings > p:last-child,
#system-logging-settings > p:last-child,
#system-site-maintenance-mode > p:last-child, .node-form > p:last-child {
  margin-bottom: 0;
}

.box h1, .table-wrap h1, #block-atlas-content .views-exposed-form h1,
#edit-node-bulk-form--2 h1,
.comment-admin-overview #edit-options h1, #block-atlas-help h1,
#block-atlas-content .package-listing h1, #system-themes-page .system-themes-list h1,
#system-themes-admin-form h1,
#block-atlas-content .table-filter h1, #block-atlas-content .form-item-mail-notification-address h1,
#field-display-overview-wrapper h1, #system-file-system-settings #edit-file-public-path h1,
#system-file-system-settings #edit-file-public-base-url h1,
#system-file-system-settings #edit-file-private-path h1,
#system-file-system-settings .form-item-file-temporary-path h1,
#system-file-system-settings .form-item-temporary-maximum-age h1,
#edit-clear-cache h1,
#edit-caching h1,
#edit-bandwidth-optimization h1,
#edit-contact h1,
#edit-anonymous-settings h1,
#edit-admin-role h1,
#edit-registration-cancellation h1,
#edit-site-information h1,
#edit-front-page h1,
#edit-error-page h1,
#system-cron-settings h1,
#system-logging-settings h1,
#system-site-maintenance-mode h1, .node-form h1, .box .h1, .table-wrap .h1, #block-atlas-content .views-exposed-form .h1,
#edit-node-bulk-form--2 .h1,
.comment-admin-overview #edit-options .h1, #block-atlas-help .h1,
#block-atlas-content .package-listing .h1, #system-themes-page .system-themes-list .h1,
#system-themes-admin-form .h1,
#block-atlas-content .table-filter .h1, #block-atlas-content .form-item-mail-notification-address .h1,
#field-display-overview-wrapper .h1, #system-file-system-settings #edit-file-public-path .h1,
#system-file-system-settings #edit-file-public-base-url .h1,
#system-file-system-settings #edit-file-private-path .h1,
#system-file-system-settings .form-item-file-temporary-path .h1,
#system-file-system-settings .form-item-temporary-maximum-age .h1,
#edit-clear-cache .h1,
#edit-caching .h1,
#edit-bandwidth-optimization .h1,
#edit-contact .h1,
#edit-anonymous-settings .h1,
#edit-admin-role .h1,
#edit-registration-cancellation .h1,
#edit-site-information .h1,
#edit-front-page .h1,
#edit-error-page .h1,
#system-cron-settings .h1,
#system-logging-settings .h1,
#system-site-maintenance-mode .h1, .node-form .h1,
.box h2, .table-wrap h2, #block-atlas-content .views-exposed-form h2,
#edit-node-bulk-form--2 h2,
.comment-admin-overview #edit-options h2, #block-atlas-help h2,
#block-atlas-content .package-listing h2, #system-themes-page .system-themes-list h2,
#system-themes-admin-form h2,
#block-atlas-content .table-filter h2, #block-atlas-content .form-item-mail-notification-address h2,
#field-display-overview-wrapper h2, #system-file-system-settings #edit-file-public-path h2,
#system-file-system-settings #edit-file-public-base-url h2,
#system-file-system-settings #edit-file-private-path h2,
#system-file-system-settings .form-item-file-temporary-path h2,
#system-file-system-settings .form-item-temporary-maximum-age h2,
#edit-clear-cache h2,
#edit-caching h2,
#edit-bandwidth-optimization h2,
#edit-contact h2,
#edit-anonymous-settings h2,
#edit-admin-role h2,
#edit-registration-cancellation h2,
#edit-site-information h2,
#edit-front-page h2,
#edit-error-page h2,
#system-cron-settings h2,
#system-logging-settings h2,
#system-site-maintenance-mode h2, .node-form h2, .box .h2, .table-wrap .h2, #block-atlas-content .views-exposed-form .h2,
#edit-node-bulk-form--2 .h2,
.comment-admin-overview #edit-options .h2, #block-atlas-help .h2,
#block-atlas-content .package-listing .h2, #system-themes-page .system-themes-list .h2,
#system-themes-admin-form .h2,
#block-atlas-content .table-filter .h2, #block-atlas-content .form-item-mail-notification-address .h2,
#field-display-overview-wrapper .h2, #system-file-system-settings #edit-file-public-path .h2,
#system-file-system-settings #edit-file-public-base-url .h2,
#system-file-system-settings #edit-file-private-path .h2,
#system-file-system-settings .form-item-file-temporary-path .h2,
#system-file-system-settings .form-item-temporary-maximum-age .h2,
#edit-clear-cache .h2,
#edit-caching .h2,
#edit-bandwidth-optimization .h2,
#edit-contact .h2,
#edit-anonymous-settings .h2,
#edit-admin-role .h2,
#edit-registration-cancellation .h2,
#edit-site-information .h2,
#edit-front-page .h2,
#edit-error-page .h2,
#system-cron-settings .h2,
#system-logging-settings .h2,
#system-site-maintenance-mode .h2, .node-form .h2,
.box h3, .table-wrap h3, #block-atlas-content .views-exposed-form h3,
#edit-node-bulk-form--2 h3,
.comment-admin-overview #edit-options h3, #block-atlas-help h3,
#block-atlas-content .package-listing h3, #system-themes-page .system-themes-list h3,
#system-themes-admin-form h3,
#block-atlas-content .table-filter h3, #block-atlas-content .form-item-mail-notification-address h3,
#field-display-overview-wrapper h3, #system-file-system-settings #edit-file-public-path h3,
#system-file-system-settings #edit-file-public-base-url h3,
#system-file-system-settings #edit-file-private-path h3,
#system-file-system-settings .form-item-file-temporary-path h3,
#system-file-system-settings .form-item-temporary-maximum-age h3,
#edit-clear-cache h3,
#edit-caching h3,
#edit-bandwidth-optimization h3,
#edit-contact h3,
#edit-anonymous-settings h3,
#edit-admin-role h3,
#edit-registration-cancellation h3,
#edit-site-information h3,
#edit-front-page h3,
#edit-error-page h3,
#system-cron-settings h3,
#system-logging-settings h3,
#system-site-maintenance-mode h3, .node-form h3, .box .h3, .table-wrap .h3, #block-atlas-content .views-exposed-form .h3,
#edit-node-bulk-form--2 .h3,
.comment-admin-overview #edit-options .h3, #block-atlas-help .h3,
#block-atlas-content .package-listing .h3, #system-themes-page .system-themes-list .h3,
#system-themes-admin-form .h3,
#block-atlas-content .table-filter .h3, #block-atlas-content .form-item-mail-notification-address .h3,
#field-display-overview-wrapper .h3, #system-file-system-settings #edit-file-public-path .h3,
#system-file-system-settings #edit-file-public-base-url .h3,
#system-file-system-settings #edit-file-private-path .h3,
#system-file-system-settings .form-item-file-temporary-path .h3,
#system-file-system-settings .form-item-temporary-maximum-age .h3,
#edit-clear-cache .h3,
#edit-caching .h3,
#edit-bandwidth-optimization .h3,
#edit-contact .h3,
#edit-anonymous-settings .h3,
#edit-admin-role .h3,
#edit-registration-cancellation .h3,
#edit-site-information .h3,
#edit-front-page .h3,
#edit-error-page .h3,
#system-cron-settings .h3,
#system-logging-settings .h3,
#system-site-maintenance-mode .h3, .node-form .h3,
.box h4, .table-wrap h4, #block-atlas-content .views-exposed-form h4,
#edit-node-bulk-form--2 h4,
.comment-admin-overview #edit-options h4, #block-atlas-help h4,
#block-atlas-content .package-listing h4, #system-themes-page .system-themes-list h4,
#system-themes-admin-form h4,
#block-atlas-content .table-filter h4, #block-atlas-content .form-item-mail-notification-address h4,
#field-display-overview-wrapper h4, #system-file-system-settings #edit-file-public-path h4,
#system-file-system-settings #edit-file-public-base-url h4,
#system-file-system-settings #edit-file-private-path h4,
#system-file-system-settings .form-item-file-temporary-path h4,
#system-file-system-settings .form-item-temporary-maximum-age h4,
#edit-clear-cache h4,
#edit-caching h4,
#edit-bandwidth-optimization h4,
#edit-contact h4,
#edit-anonymous-settings h4,
#edit-admin-role h4,
#edit-registration-cancellation h4,
#edit-site-information h4,
#edit-front-page h4,
#edit-error-page h4,
#system-cron-settings h4,
#system-logging-settings h4,
#system-site-maintenance-mode h4, .node-form h4, .box .h4, .table-wrap .h4, #block-atlas-content .views-exposed-form .h4,
#edit-node-bulk-form--2 .h4,
.comment-admin-overview #edit-options .h4, #block-atlas-help .h4,
#block-atlas-content .package-listing .h4, #system-themes-page .system-themes-list .h4,
#system-themes-admin-form .h4,
#block-atlas-content .table-filter .h4, #block-atlas-content .form-item-mail-notification-address .h4,
#field-display-overview-wrapper .h4, #system-file-system-settings #edit-file-public-path .h4,
#system-file-system-settings #edit-file-public-base-url .h4,
#system-file-system-settings #edit-file-private-path .h4,
#system-file-system-settings .form-item-file-temporary-path .h4,
#system-file-system-settings .form-item-temporary-maximum-age .h4,
#edit-clear-cache .h4,
#edit-caching .h4,
#edit-bandwidth-optimization .h4,
#edit-contact .h4,
#edit-anonymous-settings .h4,
#edit-admin-role .h4,
#edit-registration-cancellation .h4,
#edit-site-information .h4,
#edit-front-page .h4,
#edit-error-page .h4,
#system-cron-settings .h4,
#system-logging-settings .h4,
#system-site-maintenance-mode .h4, .node-form .h4,
.box h5, .table-wrap h5, #block-atlas-content .views-exposed-form h5,
#edit-node-bulk-form--2 h5,
.comment-admin-overview #edit-options h5, #block-atlas-help h5,
#block-atlas-content .package-listing h5, #system-themes-page .system-themes-list h5,
#system-themes-admin-form h5,
#block-atlas-content .table-filter h5, #block-atlas-content .form-item-mail-notification-address h5,
#field-display-overview-wrapper h5, #system-file-system-settings #edit-file-public-path h5,
#system-file-system-settings #edit-file-public-base-url h5,
#system-file-system-settings #edit-file-private-path h5,
#system-file-system-settings .form-item-file-temporary-path h5,
#system-file-system-settings .form-item-temporary-maximum-age h5,
#edit-clear-cache h5,
#edit-caching h5,
#edit-bandwidth-optimization h5,
#edit-contact h5,
#edit-anonymous-settings h5,
#edit-admin-role h5,
#edit-registration-cancellation h5,
#edit-site-information h5,
#edit-front-page h5,
#edit-error-page h5,
#system-cron-settings h5,
#system-logging-settings h5,
#system-site-maintenance-mode h5, .node-form h5, .box .h5, .table-wrap .h5, #block-atlas-content .views-exposed-form .h5,
#edit-node-bulk-form--2 .h5,
.comment-admin-overview #edit-options .h5, #block-atlas-help .h5,
#block-atlas-content .package-listing .h5, #system-themes-page .system-themes-list .h5,
#system-themes-admin-form .h5,
#block-atlas-content .table-filter .h5, #block-atlas-content .form-item-mail-notification-address .h5,
#field-display-overview-wrapper .h5, #system-file-system-settings #edit-file-public-path .h5,
#system-file-system-settings #edit-file-public-base-url .h5,
#system-file-system-settings #edit-file-private-path .h5,
#system-file-system-settings .form-item-file-temporary-path .h5,
#system-file-system-settings .form-item-temporary-maximum-age .h5,
#edit-clear-cache .h5,
#edit-caching .h5,
#edit-bandwidth-optimization .h5,
#edit-contact .h5,
#edit-anonymous-settings .h5,
#edit-admin-role .h5,
#edit-registration-cancellation .h5,
#edit-site-information .h5,
#edit-front-page .h5,
#edit-error-page .h5,
#system-cron-settings .h5,
#system-logging-settings .h5,
#system-site-maintenance-mode .h5, .node-form .h5,
.box h6, .table-wrap h6, #block-atlas-content .views-exposed-form h6,
#edit-node-bulk-form--2 h6,
.comment-admin-overview #edit-options h6, #block-atlas-help h6,
#block-atlas-content .package-listing h6, #system-themes-page .system-themes-list h6,
#system-themes-admin-form h6,
#block-atlas-content .table-filter h6, #block-atlas-content .form-item-mail-notification-address h6,
#field-display-overview-wrapper h6, #system-file-system-settings #edit-file-public-path h6,
#system-file-system-settings #edit-file-public-base-url h6,
#system-file-system-settings #edit-file-private-path h6,
#system-file-system-settings .form-item-file-temporary-path h6,
#system-file-system-settings .form-item-temporary-maximum-age h6,
#edit-clear-cache h6,
#edit-caching h6,
#edit-bandwidth-optimization h6,
#edit-contact h6,
#edit-anonymous-settings h6,
#edit-admin-role h6,
#edit-registration-cancellation h6,
#edit-site-information h6,
#edit-front-page h6,
#edit-error-page h6,
#system-cron-settings h6,
#system-logging-settings h6,
#system-site-maintenance-mode h6, .node-form h6, .box .h6, .table-wrap .h6, #block-atlas-content .views-exposed-form .h6,
#edit-node-bulk-form--2 .h6,
.comment-admin-overview #edit-options .h6, #block-atlas-help .h6,
#block-atlas-content .package-listing .h6, #system-themes-page .system-themes-list .h6,
#system-themes-admin-form .h6,
#block-atlas-content .table-filter .h6, #block-atlas-content .form-item-mail-notification-address .h6,
#field-display-overview-wrapper .h6, #system-file-system-settings #edit-file-public-path .h6,
#system-file-system-settings #edit-file-public-base-url .h6,
#system-file-system-settings #edit-file-private-path .h6,
#system-file-system-settings .form-item-file-temporary-path .h6,
#system-file-system-settings .form-item-temporary-maximum-age .h6,
#edit-clear-cache .h6,
#edit-caching .h6,
#edit-bandwidth-optimization .h6,
#edit-contact .h6,
#edit-anonymous-settings .h6,
#edit-admin-role .h6,
#edit-registration-cancellation .h6,
#edit-site-information .h6,
#edit-front-page .h6,
#edit-error-page .h6,
#system-cron-settings .h6,
#system-logging-settings .h6,
#system-site-maintenance-mode .h6, .node-form .h6 {
  margin: 0;
}

button,
.btn,
input[type="submit"] {
  padding: .5rem 1rem;
  display: inline-block;
  font-family: Roboto, Lato, sans-serif;
  font-size: inherit;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  color: #fff;
  background-color: #2da6d1;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

button:hover, button:focus, button:active,
.btn:hover,
.btn:focus,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  color: #fff;
  text-decoration: none;
  background-color: #2895bc;
}

button.btn--disabled, button[disabled],
.btn.btn--disabled,
.btn[disabled],
input.btn--disabled[type="submit"],
input[disabled][type="submit"] {
  cursor: not-allowed;
  opacity: .6;
}

.btn--secondary {
  background-color: #ffd500;
}

.btn--secondary:hover, .btn--secondary:focus, .btn--secondary:active {
  background-color: #d9b500;
}

.btn--tertiary {
  color: #3b3e46;
  background-color: #79ba7b;
}

.btn--tertiary:hover, .btn--tertiary:focus, .btn--tertiary:active {
  color: #3b3e46;
  background-color: #679e69;
}

.btn--positive {
  color: #ffffff;
  background-color: #79ba7b;
}

.btn--positive:hover, .btn--positive:focus, .btn--positive:active {
  color: #ffffff;
  background-color: #679e69;
}

.btn--grey {
  color: #3b3e46;
  background-color: #e0e4e7;
}

.btn--grey:hover, .btn--grey:focus, .btn--grey:active {
  color: #3b3e46;
  background-color: #bec2c4;
}

.btn--small {
  padding: .25rem .75rem;
  font-size: .875rem;
}

.btn--large {
  padding: .5rem 1.625rem;
  font-size: 1.375rem;
  line-height: normal;
}

.btn--xlarge {
  padding: .75rem 1.75rem;
  font-size: 1.375rem;
  line-height: normal;
}

.btn--rounded {
  border-radius: .25rem;
}

.btn--pill {
  border-radius: 3rem;
}

.btn--ghost {
  color: #2da6d1;
  border: 0.125rem solid #2da6d1;
  background-color: transparent;
}

.btn--ghost:hover, .btn--ghost:focus, .btn--ghost:active {
  background-color: #2da6d1;
}

.btn--block,
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  display: block;
  width: 100%;
}

code,
kbd,
pre,
samp {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-weight: normal;
  font-size: .875rem;
  color: #3b3e46;
}

pre {
  margin: 0 0 1.5rem 0;
  padding: 1rem;
  background-color: #f0f2f3;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  -moz-tab-size: 2;
  tab-size: 2;
}

code {
  padding: .25rem;
  background-color: #f0f2f3;
}

pre code {
  padding: 0;
  background-color: transparent;
}

.embed-wrap {
  position: relative;
  margin: 1.5rem auto;
  padding: 1.875rem 0 56.25% 0;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.embed-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form,
fieldset {
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: .25rem;
  display: block;
  font-family: Roboto, Lato, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

fieldset {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border: 0.0625rem solid #a1acb5;
}

legend {
  margin: 0;
  margin-left: -.5rem;
  padding: 0 .5rem;
  display: block;
  font-family: Roboto, Lato, sans-serif;
}

.form__row,
.form--inline .form__row--controls,
.form--inline .form__row--actions {
  margin-bottom: 1.5rem;
}

.form__row:last-child,
.form--inline .form__row--controls:last-child,
.form--inline .form__row--actions:last-child {
  margin-bottom: 0;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  padding: .375rem;
  display: block;
  width: 100%;
  height: 2.375rem;
  font: inherit;
  line-height: 1.5;
  color: #3b3e46;
  border: 0.0625rem solid #e0e4e7;
  background-color: #ffffff;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  float: left;
  margin-bottom: 0;
  display: inline-block;
  width: auto;
  cursor: pointer;
  vertical-align: baseline;
  outline: none;
  transition: background 0.5s ease;
}

input[type=checkbox],
input[type=checkbox]:focus {
  -webkit-appearance: none;
  background: #fff;
  border: 2px solid #3b3e46;
  border-radius: 2px;
  width: 18px !important;
  height: 18px !important;
  margin-top: 1px;
}

input[type=checkbox]:checked {
  background: url(../images/icons/check.svg) scroll no-repeat 0 0 #2da6d1;
  border-color: #2da6d1;
}

textarea {
  height: 5.5rem;
  overflow: auto;
  resize: vertical;
}

select {
  font-family: Roboto, Lato, sans-serif;
}

input[type="submit"] {
  width: auto;
  margin-bottom: 0;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #2da6d1;
  border-color: rgba(45, 166, 209, 0.8);
  outline: 0;
  outline: thin dotted \9;
  transition: border .2s linear;
}

input[disabled],
textarea[disabled] {
  background: #f0f2f3;
  cursor: not-allowed;
  overflow: hidden;
  white-space: nowrap;
}

.form--inline input,
.form--inline textarea,
.form--inline select {
  display: inline-block;
  width: auto;
}

.form--inline label {
  display: inline-block;
  margin: 0 1rem 0 0;
  width: 6.5rem;
  text-align: right;
}

.form--inline .form__row--controls, .form--inline .form__row--actions {
  margin-left: 7.5rem;
}

.form--inline .form__row--controls label, .form--inline .form__row--actions label {
  width: auto;
}

.form--inline .form__row--actions {
  margin-bottom: 0;
}

::-webkit-input-placeholder {
  color: #a1acb5;
}

::-moz-placeholder {
  color: #a1acb5;
}

:-ms-input-placeholder {
  color: #a1acb5;
}

ul,
ol,
dl,
.list {
  margin-bottom: 1.5rem;
  margin-left: 1.75rem;
  font-family: inherit;
  list-style-position: outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ul ul {
  list-style: square;
}

ul ul ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

dl {
  margin-left: 0;
}

dt {
  font-weight: bold;
  font-family: Roboto, Lato, sans-serif;
}

.list--unstyled, .breadcrumbs, .tabs,
.pager {
  margin-left: 0;
  list-style: none;
}

.list--inline, .tabs {
  margin-left: 0;
}

.list--inline li, .tabs li {
  display: inline-block;
  margin-right: .5rem;
}

.media {
  display: block;
  margin-bottom: 1.5rem;
}

.media__item {
  float: left;
  margin: 0 1.5rem 1.5rem 0;
}

.media__item--reversed {
  float: right;
  margin-left: 1.5rem;
}

.media__item img,
.media__item--reversed img {
  display: block;
}

.media__body {
  overflow: hidden;
}

.media__body:last-child {
  margin-bottom: 0;
}

.flag {
  display: table;
  width: 100%;
  margin-bottom: 1.5rem;
}

.flag__item,
.flag__body {
  display: table-cell;
  vertical-align: middle;
}

.flag--top .flag__item, .flag--top
.flag__body {
  vertical-align: top;
}

.flag--bottom .flag__item, .flag--bottom
.flag__body {
  vertical-align: bottom;
}

.flag__item {
  padding-right: 1.5rem;
}

.flag__item > img {
  display: block;
  max-width: none;
}

.flag--reversed .flag__item {
  padding-right: 0;
  padding-left: 1.5rem;
}

.flag__body {
  width: 100%;
}

.flag__body p:last-of-type {
  margin-bottom: 0;
}

.pager {
  margin-bottom: 1.5rem;
  font-family: Roboto, Lato, sans-serif;
  text-align: center;
}

.pager li {
  margin: 0 .5rem .5rem 0;
  display: inline-block;
}

.pager li:last-child {
  margin-right: 0;
}

.pager li:hover {
  background-color: #e6e9ec;
}

.pager li a {
  display: inline-block;
  padding: .25rem .75rem;
}

.pager li.pager--current {
  background-color: #2da6d1;
}

.pager li.pager--current a {
  color: #fff;
}

.breadcrumbs {
  margin: 0;
}

.breadcrumbs__crumb {
  display: inline-block;
  margin-right: 0;
}

.breadcrumbs__crumb:before {
  content: '›';
  display: inline-block;
  margin: 0 5px;
}

.breadcrumbs__crumb:first-child:before {
  content: '';
  display: none;
}

.table-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
}

table th,
table tfoot td {
  text-align: left;
  font-weight: 500;
  font-family: Roboto, Lato, sans-serif;
}

table th,
table td {
  padding: .625rem;
  vertical-align: top;
}

table thead > tr {
  border-bottom: 2px solid #e0e4e7;
  color: #3b3e46;
}

table thead > tr th:first-child {
  padding-left: 0;
}

table tbody > tr {
  border-bottom: 1px solid #e0e4e7;
}

table tbody > tr td:first-child {
  padding-left: 0;
}

table tbody > tr:last-child {
  border-bottom: 0;
}

.table--condensed thead > tr {
  border-bottom: 0.0625rem solid #e0e4e7;
}

.table--condensed th,
.table--condensed td {
  padding: .25rem;
}

.table--responsive {
  overflow-x: auto;
  width: 100%;
  margin-bottom: 1.5rem;
  -webkit-overflow-scrolling: touch;
}

.table--responsive table {
  margin-bottom: .5rem;
}

.panel {
  padding: 0;
}

.panel .panel__title {
  background: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 0;
  border: 1px solid #e0e4e7;
  border-bottom: 0;
}

.message {
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 22px;
  background-color: #e0e4e7;
  border-bottom: 2px solid #a1acb5;
}

.page-header {
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #41afd6;
  color: #fff;
}

.page-header h1, .page-header .h1,
.page-header h2, .page-header .h2,
.page-header h3, .page-header .h3,
.page-header h4, .page-header .h4,
.page-header h5, .page-header .h5,
.page-header h6, .page-header .h6 {
  color: #fff;
}

.page-header a {
  color: #d1e0e5;
}

.page-header a:hover, .page-header a:focus {
  color: #fff;
  text-decoration: none;
}

.tabs {
  margin-bottom: 0;
}

.tabs li a {
  display: inline-block;
  color: #a1acb5;
}

.tabs li a:hover {
  text-decoration: none;
}

.tabs__tabs {
  border-bottom: 1px solid #e0e4e7;
}

.tabs__tabs li a {
  position: relative;
  padding: 10px 20px;
}

.tabs__tabs li a.is-active {
  color: #3b3e46;
}

.tabs__tabs li a.is-active:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  top: auto;
  left: 0;
  right: 0;
  height: 3px;
  background: #2da6d1;
}

.tabs__tabs li a:hover {
  color: #3b3e46;
}

.tabs__pill {
  margin-bottom: 20px;
}

.tabs__pill li a {
  position: relative;
  padding: 3px 6px;
  border-radius: 3px;
}

.tabs__pill li a.is-active {
  color: #fff;
  background-color: #2da6d1;
}

.tabs__pill li a:hover {
  color: #3b3e46;
}

.page-header .tabs__tabs {
  margin: 0;
  border: 0;
}

.page-header .tabs__tabs li a {
  color: #d1e0e5;
}

.page-header .tabs__tabs li a.is-active, .page-header .tabs__tabs li a:hover {
  color: #fff;
}

.page-header .tabs__tabs li a:after {
  background-color: #ffd500;
  bottom: 0px;
}

.ui-widget-overlay {
  z-index: 999;
}

.ui-dialog {
  z-index: 1000;
  padding: 0;
  font-size: 0.875rem;
  border-radius: 0 !important;
}

.ui-dialog .ui-widget-header {
  padding: 10px 15px;
  background: #ffd500;
  border: 0;
  border-radius: 0;
}

/**
 * Content
 */
/**
 * Structure
 */
/**
 * Appearance
 */
.views-exposed-form .form__row {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}

.views-exposed-form .form__row:nth-child(n+4) {
  margin-right: 0;
}
