@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome/fontawesome-webfont.eot?v=4.4.0");
  src: url("../../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../../fonts/fontawesome/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../../fonts/fontawesome/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../../fonts/fontawesome/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../../fonts/fontawesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.float-left {
  float: left;
}

.float-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}

.no-space {
  margin: 0;
  padding: 0;
}

.space {
  margin: 1.5rem;
}

.space-top {
  margin-top: 1.5rem;
}

.space-right {
  margin-right: 1.5rem;
}

.space-btm {
  margin-bottom: 1.5rem;
}

.space-left {
  margin-left: 1.5rem;
}

.bg-primary {
  background-color: #2da6d1;
}

.bg-primary-lighten {
  background-color: #41afd6;
}

.bg-secondary {
  background-color: #ffd500;
}

.bg-tertiary {
  background-color: #79ba7b;
}

.bg-grey {
  background-color: #a1acb5;
}

.bg-grey-light {
  background-color: #e0e4e7;
}

.bg-grey-dark {
  background-color: #3b3e46;
}

.bg-white {
  background-color: #fff;
}

.bg-body {
  background-color: #f6f7f8;
}

.text-primary {
  color: #2da6d1;
}

.text-secondary {
  color: #ffd500;
}

.text-tertiary {
  color: #79ba7b;
}

.text-grey {
  color: #a1acb5;
}

.text-grey-light {
  color: #e0e4e7;
}

.text-white {
  color: #fff;
}

.img-center {
  display: block;
  margin: 0 auto 1.5rem auto;
}

.is-uppercase {
  text-transform: uppercase;
}

.hide {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
}

button,
.btn {
  padding: .5rem 1rem;
  display: inline-block;
  font-family: Roboto, Lato, sans-serif;
  font-size: inherit;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  color: #fff;
  background-color: #2da6d1;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

button:hover, button:focus, button:active,
.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
  text-decoration: none;
  background-color: #2895bc;
}

button.btn--disabled, button[disabled],
.btn.btn--disabled,
.btn[disabled] {
  cursor: not-allowed;
  opacity: .6;
}

.btn--secondary {
  background-color: #ffd500;
}

.btn--secondary:hover, .btn--secondary:focus, .btn--secondary:active {
  background-color: #d9b500;
}

.btn--tertiary {
  color: #3b3e46;
  background-color: #79ba7b;
}

.btn--tertiary:hover, .btn--tertiary:focus, .btn--tertiary:active {
  color: #3b3e46;
  background-color: #679e69;
}

.btn--positive {
  color: #ffffff;
  background-color: #79ba7b;
}

.btn--positive:hover, .btn--positive:focus, .btn--positive:active {
  color: #ffffff;
  background-color: #679e69;
}

.btn--grey {
  color: #3b3e46;
  background-color: #e0e4e7;
}

.btn--grey:hover, .btn--grey:focus, .btn--grey:active {
  color: #3b3e46;
  background-color: #bec2c4;
}

.btn--small {
  padding: .25rem .75rem;
  font-size: .875rem;
}

.btn--large {
  padding: .5rem 1.625rem;
  font-size: 1.375rem;
  line-height: normal;
}

.btn--xlarge {
  padding: .75rem 1.75rem;
  font-size: 1.375rem;
  line-height: normal;
}

.btn--rounded {
  border-radius: .25rem;
}

.btn--pill {
  border-radius: 3rem;
}

.btn--ghost {
  color: #2da6d1;
  border: 0.125rem solid #2da6d1;
  background-color: transparent;
}

.btn--ghost:hover, .btn--ghost:focus, .btn--ghost:active {
  background-color: #2da6d1;
}

.btn--block,
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  display: block;
  width: 100%;
}

ul,
ol,
dl,
.list {
  margin-bottom: 1.5rem;
  margin-left: 1.75rem;
  font-family: inherit;
  list-style-position: outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ul ul {
  list-style: square;
}

ul ul ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

dl {
  margin-left: 0;
}

dt {
  font-weight: bold;
  font-family: Roboto, Lato, sans-serif;
}

.list--unstyled {
  margin-left: 0;
  list-style: none;
}

.list--inline {
  margin-left: 0;
}

.list--inline li {
  display: inline-block;
  margin-right: .5rem;
}

#toolbar-administration {
  font-family: 'Roboto', 'Lato', serif;
}

#toolbar-administration * {
  box-sizing: border-box;
}

.toolbar-oriented .toolbar-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #2da6d1;
}

.toolbar {
  z-index: 1250;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  font-size: small;
  line-height: 1;
}

.toolbar ul {
  padding: 0;
}

.toolbar li {
  list-style-type: none;
  list-style-image: none;
}

.toolbar a {
  display: block;
  outline: none;
  outline-style: none;
  -moz-outline-style: none;
  text-decoration: none;
}

.toolbar a:hover, .toolbar a:focus {
  text-decoration: none;
}

.toolbar button {
  border: 0;
  outline: none;
  margin-bottom: 0;
}

.toolbar .toolbar-bar .toolbar__name {
  float: left;
  display: block;
  width: 240px;
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: #222;
}

@media (max-width: 610px) {
  .toolbar .toolbar-bar .toolbar__name {
    display: none;
  }
}

.toolbar .toolbar-bar .toolbar-tab {
  float: left;
}

.toolbar .toolbar-bar .toolbar-tab.hidden {
  display: none;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
  position: relative;
  z-index: 1251;
  display: block;
  padding: 20px 20px 20px 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #c5e0e9;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:hover {
  color: #fff;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.trigger:after {
  content: "\f078";
  display: inline-block;
  width: 10px;
  margin-left: 6px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.trigger.is-active {
  background-color: #2895bc;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.trigger.is-active:hover {
  color: #c5e0e9;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.trigger.is-active:hover:after {
  color: #fff;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon.trigger.is-active:after {
  content: '\f00d';
}

@media (max-width: 1024px) {
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    padding: 20px 10px 20px 15px;
  }
}

@media (max-width: 610px) {
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    padding: 15px 5px 15px 10px;
    font-size: 12px;
  }
}

.toolbar .toolbar-tray {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  z-index: 1250;
  background-color: #3b3e46;
  font-weight: bold;
}

.toolbar .toolbar-tray.is-active {
  display: block;
}

.toolbar .toolbar-tray.is-active .toolbar-lining > .toolbar-menu,
.toolbar .toolbar-tray.is-active .toolbar-lining > div > .toolbar-menu {
  display: block;
}

.toolbar .toolbar-tray .toolbar-menu {
  display: none;
  margin: 0;
}

.toolbar .toolbar-tray .toolbar-menu.root {
  display: block;
}

.toolbar .toolbar-tray .toolbar-menu a {
  padding: 20px;
  color: #a1acb5;
}

.toolbar .toolbar-tray .toolbar-menu a:hover {
  color: #fff;
}

.toolbar .toolbar-tray .toolbar-menu a.menu-item--active {
  color: #fff;
}

.toolbar .toolbar-tray .toolbar-menu a.toolbar-icon:before {
  display: inline-block;
  width: 14px;
  margin-right: 16px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar .toolbar-tray .toolbar-menu a.toolbar-icon-system-admin-content:before {
  content: '\f0f6';
}

.toolbar .toolbar-tray .toolbar-menu a.toolbar-icon-system-admin-structure:before {
  content: '\f1b2';
}

.toolbar .toolbar-tray .toolbar-menu a.toolbar-icon-system-themes-page:before {
  content: '\f03e';
}

.toolbar .toolbar-tray .toolbar-menu a.toolbar-icon-system-modules-list:before {
  content: '\f12e';
}

.toolbar .toolbar-tray .toolbar-menu a.toolbar-icon-system-admin-config:before {
  content: '\f085';
}

.toolbar .toolbar-tray .toolbar-menu a.toolbar-icon-entity-user-collection:before {
  content: '\f007';
}

.toolbar .toolbar-tray .toolbar-menu a.toolbar-icon-system-admin-reports:before {
  content: '\f080';
}

.toolbar .toolbar-tray .toolbar-menu a.toolbar-icon-help-main:before {
  content: '\f05a';
}

.toolbar .toolbar-tray .toolbar-menu .toolbar-handle {
  padding: 20px;
}

.toolbar .toolbar-tray .toolbar-menu.root .toolbar-menu {
  padding: 0 10px 10px 40px;
}

.toolbar .toolbar-tray .toolbar-menu.root .toolbar-menu .toolbar-menu {
  padding: 0 10px 10px 20px;
}

.toolbar .toolbar-tray .toolbar-menu.root .toolbar-menu a {
  padding: 10px;
}

.toolbar .toolbar-tray .toolbar-menu.root .toolbar-menu .toolbar-box {
  position: relative;
}

.toolbar .toolbar-tray .toolbar-menu.root .toolbar-menu .toolbar-box > .toolbar-handle {
  padding: 10px;
}

.toolbar .toolbar-tray .toolbar-menu .toolbar-box {
  position: relative;
}

.toolbar .toolbar-tray .toolbar-menu .toolbar-box > .toolbar-handle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  color: #a1acb5;
  background-color: transparent;
}

.toolbar .toolbar-tray .toolbar-menu .toolbar-box > .toolbar-handle:hover {
  color: white;
}

.toolbar .toolbar-tray .toolbar-menu .toolbar-box > .toolbar-handle:after {
  content: "\f078";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar .toolbar-tray .toolbar-menu .toolbar-box > .toolbar-handle span {
  display: none;
}

.toolbar .toolbar-tray .toolbar-menu .toolbar-box > .toolbar-handle.open:after {
  content: '\f077';
}

.toolbar .toolbar-tray .toolbar-toggle-orientation button {
  margin: 0;
  background: none;
  width: 100%;
  color: #a1acb5;
  background-color: #3b3e46;
  font-weight: 500;
}

.toolbar .toolbar-tray .toolbar-toggle-orientation button:after, .toolbar .toolbar-tray .toolbar-toggle-orientation button:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar .toolbar-tray .edit-shortcuts {
  display: none;
}

.toolbar .toolbar-tab.contextual-toolbar-tab {
  float: right;
}

.toolbar .toolbar-tab.contextual-toolbar-tab .toolbar-icon-edit {
  background: transparent;
}

.toolbar-oriented .toolbar-tray-vertical {
  width: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
}

.toolbar-oriented .toolbar-tray-vertical .toolbar-menu .menu-item.open {
  position: relative;
  background-color: #383838;
}

.toolbar-oriented .toolbar-tray-vertical .toolbar-menu .menu-item.open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  content: '';
  background-color: #2da6d1;
}

.toolbar-oriented .toolbar-tray-vertical .toolbar-menu .menu-item.open li:before {
  display: none;
}

.toolbar-oriented .toolbar-tray-vertical .toolbar-menu .menu-item.open > .toolbar-menu {
  display: block;
}

.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining {
  min-height: 100%;
}

.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining:before {
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  /* LTR */
  position: fixed;
  top: 0;
  width: 240px;
  z-index: -1;
}

.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining > div > .toolbar-menu {
  margin-bottom: 30px;
}

.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation {
  position: fixed;
  bottom: 0;
  width: 240px;
}

.toolbar-oriented .toolbar-tray-vertical .toolbar-toggle-orientation button:after {
  content: "\f0d8";
  margin-left: 6px;
}

.toolbar-oriented .toolbar-tray-horizontal {
  position: fixed;
}

.toolbar-oriented .toolbar-tray-horizontal .toolbar-menu .menu-item.open > .toolbar-menu {
  display: none;
}

.toolbar-oriented .toolbar-tray-horizontal .toolbar-menu li {
  float: left;
}

.toolbar-oriented .toolbar-tray-horizontal .toolbar-menu li li {
  float: none;
}

.toolbar-oriented .toolbar-tray-horizontal .toolbar-menu a.toolbar-icon:before {
  margin-right: 6px;
}

.toolbar-oriented .toolbar-tray-horizontal .menu-item ul {
  display: none;
}

.toolbar-oriented .toolbar-tray-horizontal .toolbar-box .toolbar-handle {
  display: none;
}

.toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation {
  float: right;
}

.toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation button {
  padding: 20px 10px;
}

.toolbar-oriented .toolbar-tray-horizontal .toolbar-toggle-orientation button:before {
  content: "\f0d9";
  margin-right: 6px;
}

.toolbar-horizontal .toolbar {
  bottom: auto;
}

.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 240px;
}
